{% extends "base.html" %} 
{% load static %} 

{% block title %}
    Poleras Personalizados
{% endblock title %}


{% block css %}
<style>
main{padding: 0rem 2rem;max-width: 120rem;margin: auto;margin-bottom: 5rem;}
p{margin: .5rem auto;}
li{margin-bottom: .3rem;}
ul{padding: 1.5rem 1rem;overflow: hidden;}
.ul-1{background-color: #2696f16e;color: #004e8d;}
.ul-2{background-color: #fd980086;color: #7a4a02;}
.ul-3{background-color: #4caf4f8c;color: #2b642d;}
.ul-4{background-color: #f7e11f86;color: #615700;}
.my-hr:last-of-type{display: none;}
</style>
{% endblock css %}
    

{% block content %}
<main>
  <h1>Lista de mis Solicitudes</h1>
  
  
  {% if ctd_cualquier_design != 0 %}
    <h4>Solicitudes de Cualquier Tipo de Diseño: {{ctd_cualquier_design}}</h4>
    {% for sd in sld_cualquier_design %}
      <ul class="ul-1">
        <li><b> Fecha de Cita: </b>{{ sd.fecha_cita|date:"SHORT_DATE_FORMAT" }} {{ sd.fecha_cita|time:"h:i a" }} </li>
        <li><b> Diseñador: </b>{{ sd.design }}</li>
        <li><b> Descripcion: </b>{% autoescape off %} {{ sd.descripcion_complementaria|linebreaks }} {% endautoescape %}  </li>
        
        {% if sd.medio_comunicacion == "Zoom" %}
          <li><b>Link de Zoom:</b> <a href="{{sd.design.url_zoom}}" target="_blank">{{sd.design.url_zoom}}</a></li>
        {% endif %}
        {% if sd.medio_comunicacion == "WhatsApp" %}
          <li><b>Link de WhatsApp:</b> <a href="{{sd.design.url_wsp}}" target="_blank">{{sd.design.url_wsp}}</a></li>
        {% endif %}
        {% if sd.medio_comunicacion == "FB-messenger" %}
          <li><b>Link de FB-messenger:</b> <a href="{{sd.design.url_fb_messenger}}" target="_blank">{{sd.design.url_fb_messenger}}</a></li>
        {% endif %}
                
      </ul>
    {% endfor %}
  {% endif %}
    
  
  {% if ctd_design_papel != 0  %}
    <h4>Solicitudes de Diseño + Impresión en Papel: {{ctd_design_papel}}</h4>
    {% for sdp in sld_design_papel %}
      <ul class="ul-2">
        <li><b> Fecha de Cita:</b> {{ sdp.fecha_cita|date:"SHORT_DATE_FORMAT" }} {{ sdp.fecha_cita|time:"h:i a" }} </li>
        <li><b> Diseñador: </b>{{ sdp.design }}</li>
        <li><b> Descripcion: </b>{% autoescape off %} {{ sdp.descripcion_complementaria|linebreaks }} {% endautoescape %}  </li>

        {% if sdp.medio_comunicacion == "Zoom" %}
          <li><b>Link de Zoom:</b> <a href="{{sdp.design.url_zoom}}" target="_blank">{{sdp.design.url_zoom}}</a></li>
        {% endif %}
        {% if sdp.medio_comunicacion == "WhatsApp" %}
          <li><b>Link de WhatsApp:</b> <a href="{{sdp.design.url_wsp}}" target="_blank">{{sdp.design.url_wsp}}</a></li>
        {% endif %}
        {% if sdp.medio_comunicacion == "FB-messenger" %}
          <li><b>Link de FB-messenger:</b> <a href="{{sdp.design.url_fb_messenger}}" target="_blank">{{sdp.design.url_fb_messenger}}</a></li>
        {% endif %}

      </ul>
    {% endfor %}    
  {% endif %}
    
  
  {% if ctd_design_objeto != 0 %}
    <h4>Solicitudes de Diseño + Impresión en Objetos: {{ctd_design_objeto}}</h4>
    {% for sdo in sld_design_objeto %}
      <ul class="ul-3">
        <li><b> Fecha de Cita:</b> {{ sdo.fecha_cita|date:"SHORT_DATE_FORMAT" }} {{ sdo.fecha_cita|time:"h:i a" }} </li>
        <li><b> Diseñador: </b>{{ sdo.design }}</li>
        <li><b> Descripcion: </b>{% autoescape off %} {{ sdo.descripcion_complementaria|linebreaks }} {% endautoescape %} </li>
        
        {% if sdo.medio_comunicacion == "Zoom" %}
          <li><b>Link de Zoom:</b> <a href="{{sdo.design.url_zoom}}" target="_blank">{{sdo.design.url_zoom}}</a></li>
        {% endif %}
        {% if sdo.medio_comunicacion == "WhatsApp" %}
          <li><b>Link de WhatsApp:</b> <a href="{{sdo.design.url_wsp}}" target="_blank">{{sdo.design.url_wsp}}</a></li>
        {% endif %}
        {% if sdo.medio_comunicacion == "FB-messenger" %}
          <li><b>Link de FB-messenger:</b> <a href="{{sdo.design.url_fb_messenger}}" target="_blank">{{sdo.design.url_fb_messenger}}</a></li>
        {% endif %}

      </ul>
    {% endfor %}    
  {% endif %}
    
  
  {% if ctd_print_objeto != 0  %}
    <h4>Solicitudes de Impresión en Objetos: {{ctd_print_objeto}}</h4>
    {% for spo in sld_print_objeto %}
      <ul class="ul-4" >
        <li><b> Fecha de Cita:</b> {{ spo.fecha_cita|date:"SHORT_DATE_FORMAT" }} {{ spo.fecha_cita|time:"h:i a" }} </li>
        <li><b> Diseñador: </b>{{ spo.design }}</li>
        <li><b> Descripcion: </b>{% autoescape off %} {{ spo.descripcion_complementaria|linebreaks }} {% endautoescape %} </li>
        
        {% if spo.medio_comunicacion == "Zoom" %}
          <li><b>Link de Zoom:</b> <a href="{{spo.design.url_zoom}}" target="_blank">{{spo.design.url_zoom}}</a></li>
        {% endif %}
        {% if spo.medio_comunicacion == "WhatsApp" %}
          <li><b>Link de WhatsApp:</b> <a href="{{spo.design.url_wsp}}" target="_blank">{{spo.design.url_wsp}}</a></li>
        {% endif %}
        {% if spo.medio_comunicacion == "FB-messenger" %}
          <li><b>Link de FB-messenger:</b> <a href="{{spo.design.url_fb_messenger}}" target="_blank">{{spo.design.url_fb_messenger}}</a></li>
        {% endif %}

      </ul>
    {% endfor %}    
  {% endif %}
    
</main>

  
  
  

{% endblock content %}
    