{% extends "base.html" %} 
{% load static %} 

{% block title %}
    Poleras Personalizados
{% endblock title %}


{% block css %}
<style>
main{padding: 0rem 2rem;max-width: 120rem;margin: auto;margin-bottom: 5rem;}
p{margin: .5rem auto;}
li{margin-bottom: .3rem;}
ul{margin: 0rem;}
.ul-1, .ul-2, .ul-3,.ul-4{padding: 1.5rem 1rem;overflow: hidden;margin: 1.6rem 0rem;}

td, th {border: .1rem solid #ccc;text-align: left;font-size: 1.2rem;}
table {border-collapse: collapse;width: 100%;}
th, td {padding: 1.5rem;}
th{background-color: #a139b0;color: #fff;}
.realizar-pago{text-align: center;font-size: 1.4rem;background-color: #a139b0;color: #fff;}

.ul-1{background-color: #2696f16e;color: #004e8d;}
.ul-2{background-color: #fd980086;color: #7a4a02;}
.ul-3{background-color: #4caf4f8c;color: #2b642d;}
.ul-4{background-color: #f7e11f86;color: #615700;}
.my-hr:last-of-type{display: none;}
.contenedor-solicitud{font-size: 1.4rem;}

@media only screen and (min-width: 900px) {
  table, td, th{font-size: 1.6rem;}
  .realizar-pago{font-size: 2rem;}

  .contenedor-solicitud{display: flex;justify-content: space-between;font-size: 1.6rem;}
}
</style>
{% endblock css %}
    

{% block content %}
<main>
  <h1>Lista de mis Solicitudes</h1>
  
  <table>
    <tr>
      <th>Solicitudes</th>
      <th>Cantidad</th>
      <th>Monto restante total</th>
    </tr>
    <tr>
      <td>Cualquier tipo de diseño</td>
      <td>{{ctd_cualquier_design}}</td>
      <td>S/ {{monto_cd}}</td>
    </tr>
    <tr>
      <td>Diseño + impresión en papel</td>
      <td>{{ctd_design_papel}}</td>
      <td>S/ {{monto_dp}}</td>
    </tr>
    <tr>
      <td>Diseñó + impresiónen objetos</td>
      <td>{{ctd_design_objeto}}</td>
      <td>S/ {{monto_do}}</td>
    </tr>
    <tr>
      <td>Impresión en cualquier objeto</td>
      <td>{{ctd_print_objeto}}</td>
      <td>S/ {{monto_po}}</td>
    </tr>
    <tr>
      <td>Total</td>
      <td>{{ctd_total}}</td>
      <td>S/ {{monto_total}}</td>
    </tr>
    <tr style="border: none;">
      <td style="border: none;"></td>
      <td style="border: none;"></td>
      <td class="realizar-pago"><a href="{% url 'payment_page' %}" style="color: #fff;">Realizar el pago <i class="fa fa-cart-arrow-down" aria-hidden="true"></i> </a></td>
    </tr>
  </table>

  

  {% if ctd_cualquier_design != 0 %}
    <h4>Solicitudes de Cualquier Tipo de Diseño: {{ctd_cualquier_design}}</h4>
    {% for sd in sld_cualquier_design %}
    <div class="contenedor-solicitud ul-1">
      <ul>
        <li><b> Fecha de Cita: </b>{{ sd.fecha_cita|date:"SHORT_DATE_FORMAT" }} {{ sd.fecha_cita|time:"h:i a" }} </li>
        <li><b> Diseñador: </b>{{ sd.design }}</li>
        <li><b> Descripcion: </b>{% autoescape off %} {{ sd.descripcion_complementaria|linebreaks }} {% endautoescape %}  </li>
        
        {% if sd.medio_comunicacion == "Zoom" %}
          <li><b>Link de Zoom:</b> <a href="{{sd.design.url_zoom}}" target="_blank">{{sd.design.url_zoom}}</a></li>
        {% endif %}
        {% if sd.medio_comunicacion == "WhatsApp" %}
          <li><b>Link de WhatsApp:</b> <a href="{{sd.design.url_wsp}}" target="_blank">{{sd.design.url_wsp}}</a></li>
        {% endif %}
        {% if sd.medio_comunicacion == "FB-messenger" %}
          <li><b>Link de FB-messenger:</b> <a href="{{sd.design.url_fb_messenger}}" target="_blank">{{sd.design.url_fb_messenger}}</a></li>
        {% endif %}
      </ul>
      <ul>
        {% if sd.precio == None %}
          <li style="margin-top: 1.5rem;margin-right: 1.5rem;border: .1rem solid #004e8d;padding: .7rem 1rem;border-radius: .7rem;width: 4rem;"><a href="{% url 'editar_solicitud_cualquier_tipo_diseno' sd.id %}" style="color: #004e8d;">Editar</a></li>
        {% else %}
          <li>S/ {{sd.precio}}</li>            
          {% if sd.pagado %}
            <li>Cancelado</li>
          {% else %}
            <li>Por cancelar</li>
          {% endif %}
        {% endif %}
      </ul>
    </div>
    {% endfor %}
  {% endif %}
    
  
  {% if ctd_design_papel != 0  %}
    <h4>Solicitudes de Diseño + Impresión en Papel: {{ctd_design_papel}}</h4>
    {% for sdp in sld_design_papel %}
    <div class="contenedor-solicitud ul-2">
      <ul>
        <li><b> Fecha de Cita:</b> {{ sdp.fecha_cita|date:"SHORT_DATE_FORMAT" }} {{ sdp.fecha_cita|time:"h:i a" }} </li>
        <li><b> Diseñador: </b>{{ sdp.design }}</li>
        <li><b> Descripcion: </b>{% autoescape off %} {{ sdp.descripcion_complementaria|linebreaks }} {% endautoescape %}  </li>

        {% if sdp.medio_comunicacion == "Zoom" %}
          <li><b>Link de Zoom:</b> <a href="{{sdp.design.url_zoom}}" target="_blank">{{sdp.design.url_zoom}}</a></li>
        {% endif %}
        {% if sdp.medio_comunicacion == "WhatsApp" %}
          <li><b>Link de WhatsApp:</b> <a href="{{sdp.design.url_wsp}}" target="_blank">{{sdp.design.url_wsp}}</a></li>
        {% endif %}
        {% if sdp.medio_comunicacion == "FB-messenger" %}
          <li><b>Link de FB-messenger:</b> <a href="{{sdp.design.url_fb_messenger}}" target="_blank">{{sdp.design.url_fb_messenger}}</a></li>
        {% endif %}
      </ul>
      <ul>
        {% if sdp.precio == None %}
          <li style="margin-top: 1.5rem;margin-right: 1.5rem;border: .1rem solid #7a4a02;padding: .7rem 1rem;border-radius: .7rem;width: 4rem;"><a href="{% url 'editar_solicitud_de_diseño_mas_impresión_papel' sdp.id %}" style="color: #7a4a02;">Editar</a></li>
        {% else %}
          <li>S/ {{sdp.precio}}</li>            
          {% if sdp.pagado %}
            <li>Cancelado</li>
          {% else %}
            <li>Por cancelar</li>
          {% endif %}
        {% endif %}
      </ul>
    </div>
    {% endfor %}    
  {% endif %}
    
  
  {% if ctd_design_objeto != 0 %}
    <h4>Solicitudes de Diseño + Impresión en Objetos: {{ctd_design_objeto}}</h4>
    {% for sdo in sld_design_objeto %}
    <div class="contenedor-solicitud ul-3">
      <ul>
        <li><b> Fecha de Cita:</b> {{ sdo.fecha_cita|date:"SHORT_DATE_FORMAT" }} {{ sdo.fecha_cita|time:"h:i a" }} </li>
        <li><b> Diseñador: </b>{{ sdo.design }}</li>
        <li><b> Descripcion: </b>{% autoescape off %} {{ sdo.descripcion_complementaria|linebreaks }} {% endautoescape %} </li>
        
        {% if sdo.medio_comunicacion == "Zoom" %}
          <li><b>Link de Zoom:</b> <a href="{{sdo.design.url_zoom}}" target="_blank">{{sdo.design.url_zoom}}</a></li>
        {% endif %}
        {% if sdo.medio_comunicacion == "WhatsApp" %}
          <li><b>Link de WhatsApp:</b> <a href="{{sdo.design.url_wsp}}" target="_blank">{{sdo.design.url_wsp}}</a></li>
        {% endif %}
        {% if sdo.medio_comunicacion == "FB-messenger" %}
          <li><b>Link de FB-messenger:</b> <a href="{{sdo.design.url_fb_messenger}}" target="_blank">{{sdo.design.url_fb_messenger}}</a></li>
        {% endif %}
      </ul>
      <ul>
        {% if sdo.precio == None %}
          <li style="margin-top: 1.5rem;margin-right: 1.5rem;border: .1rem solid #2b642d;padding: .7rem 1rem;border-radius: .7rem;width: 4rem;"><a href="{% url 'editar_solicitud_de_diseño_mas_impresión_objeto' sdo.id %}" style="color: #2b642d;">Editar</a></li>
        {% else %}
          <li>S/ {{sdo.precio}}</li>            
          {% if sdo.pagado %}
            <li>Cancelado</li>
          {% else %}
            <li>Por cancelar</li>
          {% endif %}
        {% endif %}
      </ul>
    </div>
    {% endfor %}    
  {% endif %}
    
  
  {% if ctd_print_objeto != 0  %}
    <h4>Solicitudes de Impresión en Objetos: {{ctd_print_objeto}}</h4>
    {% for spo in sld_print_objeto %}
    <div class="contenedor-solicitud ul-4">
      <ul>
        <li><b> Fecha de Cita:</b> {{ spo.fecha_cita|date:"SHORT_DATE_FORMAT" }} {{ spo.fecha_cita|time:"h:i a" }} </li>
        <li><b> Diseñador: </b>{{ spo.design }}</li>
        <li><b> Descripcion: </b>{% autoescape off %} {{ spo.descripcion_complementaria|linebreaks }} {% endautoescape %} </li>
        
        {% if spo.medio_comunicacion == "Zoom" %}
          <li><b>Link de Zoom:</b> <a href="{{spo.design.url_zoom}}" target="_blank">{{spo.design.url_zoom}}</a></li>
        {% endif %}
        {% if spo.medio_comunicacion == "WhatsApp" %}
          <li><b>Link de WhatsApp:</b> <a href="{{spo.design.url_wsp}}" target="_blank">{{spo.design.url_wsp}}</a></li>
        {% endif %}
        {% if spo.medio_comunicacion == "FB-messenger" %}
          <li><b>Link de FB-messenger:</b> <a href="{{spo.design.url_fb_messenger}}" target="_blank">{{spo.design.url_fb_messenger}}</a></li>
        {% endif %}
      </ul>
      <ul>
        {% if spo.precio == None %}
          <li style="margin-top: 1.5rem;margin-right: 1.5rem;border: .1rem solid #615700;padding: .7rem 1rem;border-radius: .7rem;width: 4rem;"><a href="{% url 'editar_solicitud_de_impresión_objeto' spo.id %}" style="color: #615700;">Editar</a></li>
        {% else %}
          <li>S/ {{spo.precio}}</li>            
          {% if spo.pagado %}
            <li>Cancelado</li>
          {% else %}
            <li>Por cancelar</li>
          {% endif %}
        {% endif %}
      </ul>
    </div>
    {% endfor %}    
  {% endif %}
    
</main>

  
  
  

{% endblock content %}
    