{% extends "base.html" %} 
{% load static %} 

{% block title %}
    Poleras Personalizados
{% endblock title %}


{% block css %}
<!-- XDSoft DateTimePicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
<style>
.contendor-sesiones{width: 80%;max-width: 45rem;margin: auto;border: .1rem solid #777;border-radius: 1rem;padding: 1.5rem;margin-top: 2rem;
            background-color: rgba(119, 119, 119, 0.03);box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);overflow: hidden;font-size: 1.8rem;}
.contendor-sesiones form p{display: flex;flex-direction: column;}
form input[type="text"], form textarea, form select{border: .1rem solid #777; border-radius: .5rem;padding: 1rem 1.2rem;margin-top: 1rem;font-size: 1.6rem;}
form button{background-color: #a139b0;color: #fff;border: .1rem solid #a139b0;border-radius: 1rem;padding: 1.2rem 2rem;font-size: 1.5rem;margin-top: 2rem;margin-bottom: 2rem;}
form{text-align: center;}
form label{text-align: left;}
ul{text-align: left;}
@media only screen and (min-width: 900px) {
    .contendor-sesiones{padding: 3rem;}
    form input[type="text"], form input[type="password"]{font-size: 1.6rem;}
    form button{font-size: 1.8rem;margin-bottom: 0rem;}
    form label{text-align: left;font-size: 1.8rem;}
}
</style>
{% endblock css %}


{% block javascript %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
{% endblock javascript %}
    

{% block content %}
<main>


<div class="contendor-sesiones">
    <h1>Solicitar Impresión en Objetos</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Solicitar Diseño</button>
    </form>
</div>

<!-- <input id="datetimepicker" type="text"> -->

<script>
    $(function () {
    $("#id_fecha_cita").datetimepicker();
    });
</script>

</main>
{% endblock content %}